gym==0.13.1
pyyaml==5.1.1
pygame==1.9.6
sympy==1.4
psutil==5.6.3
ray==0.7.2
pandas==0.25.0
requests==2.22.0
opencv-python==4.1.1.26
lz4==2.1.10
setproctitle==1.1.10
pygal==2.4.0
matplotlib==3.1.1
tqdm==4.32.2
ray[rllib]
huepy